

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    text-align: center;
    background: #777;
    width: 960px;
    margin: 100px auto;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 2px;
    font-size: 18px;
    box-sizing: border-box;
}

section,article,p {
    float: left;
}

header,nav,section,aside {
    background: #ebebeb
}

header {
    padding: 20px;
    margin-bottom: 20px;
    width: 960px;
    color: #777;
}

nav {
    padding: 20px;
    margin-bottom: 20px;
    width: 960px;
}

aside {
    width: 405px;
    height: 200px;
    padding: 8px;
    box-sizing: border-box;
    float: right;
}

section {
    width: 495px;
    height: 200px;
    padding: 10px;
}

article {
    color: #ebebeb;
    background: #777;
    width: 450px;
    height: 100px;
    padding: 10px;
}

p {
    color: #777;
    background: #ebebeb;
    width: 400px;
    height: 50px;
    padding: 10px;
}

footer {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    clear: both;
}