body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    background: #777;
    text-align: center;
}

.container {
    width: 960px;
    margin: 100px auto;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 2px;
    box-sizing: border-box;
}

header,nav,section,aside {
    background: #ebebeb
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
}

nav {
    padding: 20px;
    margin-bottom: 20px;
}

aside {
    width: 345px;
    height: 200px;
    padding: 40px;
    margin-bottom: 20px;
    float: right;
}

section {
    width: 495px;
    height: 260px;
    padding: 10px;
    margin-bottom: 20px;
    float: left;
}

article {
    color: #ebebeb;
    background: #777;
    width: 450px;
    height: 160px;
    padding: 22px;
    margin-top: 20px;
    margin-bottom: 20px; 
    float: left;
}

p {
    color: #777;
    background: #ebebeb;
    width: 410px;
    height: 10px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
    clear: both;
}

footer {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    clear: both;
}